{% extends 'layout.html' %}

{% block content %}
<div class="card border-0 shadow-lg text-white">
    <div class="card-body mt-5 text-center">
        <h1 class="display-2 fw-bold">
            سید سینا حسینی واعظ
        </h1>
        <h3 class="mt-4 text-light">
            <span class="fw-bold">برنامه نویس فول استک مید لول وب</span> با 2 سال سابقه کاری حرفه ای
        </h3>
        <div class="row justify-content-center align-items-center g-3 mt-5">
            <div class="col-md col-12 border-start">
                <div class="d-flex justify-content-center align-items-center gap-3 rounded-5 card-contact py-3">
                    <i class="bi bi-telephone-fill"></i>
                    <a class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-0-hover"
                        href="tel:09150030137">09150030137</a>
                </div>
            </div>
            <div class="col-md col-12 border-start">
                <div class="d-flex justify-content-center align-items-center gap-3 rounded-5 card-contact py-3">
                    <i class="bi bi-envelope-fill"></i>
                    <a class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-0-hover"
                        href="https://sshosseinivaez@gmail.com">sshosseinivaez@gmail.com</a>
                </div>
            </div>
            <div class="col-md col-12 border-start">
                <div class="d-flex justify-content-center align-items-center gap-3 rounded-5 card-contact py-3">
                    <i class="bi bi-github"></i>
                    <a class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-0-hover"
                        href="https://github.com/sinahosseini">/sinahosseini</a>
                </div>
            </div>
            <div class="col-md col-12 border-start">
                <div
                    class="d-flex justify-content-center align-items-center gap-3 rounded-5 card-contact py-3 text-nowrap">
                    <i class="bi bi-linkedin"></i>
                    <a class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-0-hover"
                        href="https://www.linkedin.com/in/sina-hosseini-vaez">/sina-hosseini-vaez</a>
                </div>
            </div>
            <div class="col-md col-12">
                <div
                    class="d-flex justify-content-center align-items-center gap-3 rounded-5 card-contact py-3 text-nowrap">
                    <i class="bi bi-download"></i>
                    <a class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-0-hover"
                        href="https://s34.picofile.com/d/8487231800/c6dd1c46-311f-4548-81c2-08d6e6bc1b07/%D8%B1%D8%B2%D9%88%D9%85%D9%87_%D8%B3%DB%8C%D8%AF_%D8%B3%DB%8C%D9%86%D8%A7_%D8%AD%D8%B3%DB%8C%D9%86%DB%8C_%D9%88%D8%A7%D8%B9%D8%B8.pdf">دانلود
                        رزومه</a>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row mt-5 g-3">
    <div class="col-12 d-block d-md-none border-bottom pb-2">
        <div class="border-bottom border-2 pb-2">
            <h4>مشخصات فردی</h4>
        </div>
        <ul class="list-group list-group-flush px-0">
            <li class="list-group-item bg-transparent text-white mt-3 border-0">
                تاریخ تولد: 1382/03/21
            </li>
            <li class="list-group-item bg-transparent text-white border-0">
                وضعیت تاهل: مجرد
            </li>
            <li class="list-group-item bg-transparent text-white border-0">
                وضعیت سربازی: معافیت تحصیلی
            </li>
        </ul>
    </div>
    <div class="col-md-8 col-12">
        <div class="border-bottom pb-2">
            <h3 class="fw-bold pb-3 border-bottom border-2">
                درباره من
            </h3>
            <div class="px-3 px-md-0">
                <p class="lh-lg">از سال ۱۴۰۰ وارد دنیای برنامه‌نویسی شدم و با شرکت در دوره‌های تخصصی و انجام پروژه‌های
                    متنوع
                    شخصی و تیمی، تجربه عملی ارزشمندی کسب کردم.
                </p>
                <p class="lh-lg">
                    به‌عنوان یک Full-Stack Developer با بیش از ۲ سال تجربه حرفه‌ای، توانسته‌ام پروژه‌های پیچیده
                    را از ایده تا اجرا پیش ببرم. مسیر یادگیری‌ام از HTML/CSS آغاز شد و با ادامه در Python (هوش مصنوعی و
                    Back-End)، سپس تخصص در ASP.NET Core، C#, SQL، Blazor و همچنین فریم‌ورک‌های Front-End، به سطح توسعه
                    حرفه‌ای رسید.
                </p>
                <p class="lh-lg">
                    ویژگی اصلی من خودآموزی سریع، تحقیق مداوم و ارائه راه‌حل‌های نوآورانه و کارآمد است. این مهارت‌ها به
                    من
                    کمک کرده تا چالش‌های فنی را با دقت و سرعت حل کنم و در نقش یک توسعه‌دهنده Mid-Level ارزش‌آفرینی کنم.
                </p>
            </div>
        </div>

        <div class="mt-4 border-bottom pb-2">
            <h3 class="fw-bold pb-3 border-bottom border-2">
                سوابق تحصیلی
            </h3>
            <ul class="list-group list-group-flush px-3 px-md-5">
                <li class="list-group-item bg-transparent text-white border-0 mt-3">
                    <h5 class="fw-bold">کارشناسی مهندسی کامپیوتر - نرم افزار</h5>
                    <p class="mb-0">موسسه آمورش عالی توس</p>
                    <p class="mb-0">1400 - 1404</p>
                    <p class="mb-0">معدل 17/93</p>
                </li>
                <li class="list-group-item bg-transparent text-white border-0 mt-3">
                    <h5 class="fw-bold">کارشناسی ارشد مهندسی کامپیوتر - نرم افزار</h5>
                    <p class="mb-0">موسسه آمورش عالی توس</p>
                    <p class="mb-0">1404 - اکنون</p>
                </li>
            </ul>
        </div>

        <div class="mt-4 border-bottom pb-2">
            <h3 class="fw-bold pb-3 border-bottom border-2">
                سوابق شغلی
            </h3>
            <ul class="list-group list-group-flush px-3 px-md-5">
                <li class="list-group-item bg-transparent text-white border-0 mt-3">
                    <h5 class="fw-bold">دوره کارآموزی PyDeployment</h5>
                    <p class="mb-0">شرکت پارس تک</p>
                    <p class="mb-0">بک اند و هوش مصنوعی</p>
                    <p class="mb-0">1402 - 1403</p>
                </li>
                <li class="list-group-item bg-transparent text-white border-0 mt-3">
                    <h5 class="fw-bold">برنامه نویسی و کارآموزی asp .net Full-Stack</h5>
                    <p class="mb-0">مجموعه برنامه نویسی کراد</p>
                    <p class="mb-0">بک اند، فرانت اند</p>
                    <p class="mb-0">1403 - هم اکنون</p>
                </li>
            </ul>
        </div>

        <div class="mt-4 border-bottom pb-2">
            <h3 class="fw-bold pb-3 border-bottom border-2">
                پروژه ها
            </h3>
            <ul class="list-group list-group-flush px-3 px-md-5">
                <li class="list-group-item bg-transparent text-white mt-3">
                    <div class="d-flex flex-column flex-md-row align-items-center gap-3">
                        <img src="../static/images/GTA.webp" alt="gta logo"
                            class="img-thumbnail bg-transparent border-0">
                        <h4 class="text-nowrap">پنل مدیریتی گوموش تجارت آزادی (GTA)</h4>
                    </div>
                    <ul class="list-group list-group-flush text-justify mt-3 px-0 px-md-5">
                        <li class="list-group-item bg-transparent text-white border-0">
                            توسعه کامل Front-End و Back-End به همراه مدیریت دیتابیس (SQL Server)
                        </li>
                        <li class="list-group-item bg-transparent text-white border-0">
                            پیاده‌سازی فرآیندهای تجاری شامل: ثبت و مدیریت محصول، صدور فاکتور، ورود و خروج انبار، مرجوعی
                            کالا، نظرسنجی، سفارشات آنلاین، مدیریت مشتریان (CRM) و ولت اختصاصی.
                        </li>
                        <li class="list-group-item bg-transparent text-white border-0">
                            طراحی و اجرای سیستم گزارش‌گیری، چاپ بارکد، مدیریت تاریخ‌ها، ارتباط با APIها و سامانه پیامکی
                        </li>
                        <li class="list-group-item bg-transparent text-white border-0">
                            بهینه‌سازی عملکرد دیتابیس با استفاده از Dapper و کوئری‌های اختصاصی
                        </li>
                    </ul>
                    <div class="d-flex flex-column flex-md-row align-tems-center gap-3 my-3 text-tec">
                        <small class="card-tec rounded-5 py-2 px-3">
                            Blazor Server (.NET 7)
                        </small>
                        <small class="card-tec rounded-5 py-2 px-3">
                            SQL Server
                        </small>
                        <small class="card-tec rounded-5 py-2 px-3">
                            Bootstrap
                        </small>
                        <small class="card-tec rounded-5 py-2 px-3">
                            Dapper
                        </small>
                        <small class="card-tec rounded-5 py-2 px-3">
                            Fetch API
                        </small>
                    </div>
                </li>
                <li class="list-group-item bg-transparent text-white mt-3">
                    <div class="d-flex flex-column flex-md-row align-items-center gap-3">
                        <img src="../static/images/kavan.png" alt="kavan logo"
                            class="img-thumbnail bg-transparent border-0">
                        <h4 class="text-nowrap">پنل مدیریتی نقره جات کاوان</h4>
                    </div>
                    <ul class="list-group list-group-flush text-justify mt-3 px-0 px-md-5">
                        <li class="list-group-item bg-transparent text-white border-0">
                            توسعه کامل Front-End و Back-End به همراه مدیریت دیتابیس (SQL Server)
                        </li>
                        <li class="list-group-item bg-transparent text-white border-0">
                            ساخت و مدیریت محصول همراه با درخت محصول (ویژگی‌های قیمتی و آیتم‌های شناسنامه‌ای)
                        </li>
                        <li class="list-group-item bg-transparent text-white border-0">
                            مدیریت مشتریان (CRM) و کاربران
                        </li>
                        <li class="list-group-item bg-transparent text-white border-0">
                            صدور و مدیریت فاکتور
                        </li>
                        <li class="list-group-item bg-transparent text-white border-0">
                            اختصاص کالا به فروشگاه‌ها
                        </li>
                        <li class="list-group-item bg-transparent text-white border-0">
                            استعلام قیمت بر اساس گروه‌های مشتری و نوع محصول
                        </li>
                        <li class="list-group-item bg-transparent text-white border-0">
                            مدیریت قیمت‌گذاری پویا بر اساس دلار
                        </li>
                        <li class="list-group-item bg-transparent text-white border-0">
                            گارانتی محصول
                        </li>
                        <li class="list-group-item bg-transparent text-white border-0">
                            مدیریت سفارشات آنلاین
                        </li>
                        <li class="list-group-item bg-transparent text-white border-0">
                            گزارش‌گیری و چاپ اسناد و بارکدها
                        </li>
                        <li class="list-group-item bg-transparent text-white border-0">
                            بهینه‌سازی دیتابیس و کوئری‌ها با Dapper
                        </li>
                    </ul>
                    <div class="d-flex flex-column flex-md-row  align-tems-center gap-3 my-3 text-tec">
                        <small class="card-tec rounded-5 py-2 px-3">
                            Blazor Server (.NET 9)
                        </small>
                        <small class="card-tec rounded-5 py-2 px-3">
                            SQL Server
                        </small>
                        <small class="card-tec rounded-5 py-2 px-3">
                            Bootstrap
                        </small>
                        <small class="card-tec rounded-5 py-2 px-3">
                            Dapper
                        </small>
                    </div>
                </li>
                <li class="list-group-item bg-transparent text-white mt-3">
                    <div class="d-flex flex-column flex-md-row  align-items-center gap-3">
                        <img src="../static/images/kavan.png" alt="kavan logo"
                            class="img-thumbnail bg-transparent border-0">
                        <h4 class="text-nowrap">وبسایت فروشگاهی نقره جات کاوان</h4>
                    </div>
                    <ul class="list-group list-group-flush text-justify mt-3 px-0 px-md-5">
                        <li class="list-group-item bg-transparent text-white border-0">
                            توسعه کامل Front-End و Back-End به همراه مدیریت دیتابیس (SQL Server)
                        </li>
                        <li class="list-group-item bg-transparent text-white border-0">
                            نمایش لیست محصولات و صفحه محصول تکی
                        </li>
                        <li class="list-group-item bg-transparent text-white border-0">
                            امکان ثبت گارانتی آنلاین
                        </li>
                        <li class="list-group-item bg-transparent text-white border-0">
                            سیستم احراز هویت و ورود با JWT
                        </li>
                        <li class="list-group-item bg-transparent text-white border-0">
                            سبد خرید و مدیریت سفارشات آنلاین
                        </li>
                        <li class="list-group-item bg-transparent text-white border-0">
                            پشتیبانی ۳ زبانه (چندفرهنگی)
                        </li>
                        <li class="list-group-item bg-transparent text-white border-0">
                            ارتباط کامل با REST API و مدیریت دیتابیس با Dapper
                        </li>
                    </ul>
                    <div class="d-flex flex-column flex-md-row  align-tems-center gap-3 my-3 text-tec">
                        <small class="card-tec rounded-5 py-2 px-3">
                            Blazor WebAssembly (.NET 9)
                        </small>
                        <small class="card-tec rounded-5 py-2 px-3">
                            SQL Server
                        </small>
                        <small class="card-tec rounded-5 py-2 px-3">
                            Bootstrap
                        </small>
                        <small class="card-tec rounded-5 py-2 px-3">
                            Dapper
                        </small>
                        <small class="card-tec rounded-5 py-2 px-3">
                            REST API
                        </small>
                        <small class="card-tec rounded-5 py-2 px-3">
                            JWT Authentication
                        </small>
                    </div>
                </li>
                <li class="list-group-item bg-transparent text-white mt-3">
                    <div class="d-flex flex-column flex-md-row align-items-center gap-3">
                        <img src="../static/images/zaerin.png" alt="zaerin logo" width="100"
                            class="img-thumbnail bg-transparent border-0">
                        <h4 class="text-nowrap">پنل مدیریتی زائرین پیاده حضرت رضا (ع)</h4>
                    </div>
                    <ul class="list-group list-group-flush text-justify mt-3 px-0 px-md-5">
                        <li class="list-group-item bg-transparent text-white border-0">
                            توسعه Back-End و Front-End همراه با طراحی دیتابیس در SQL Server
                        </li>
                        <li class="list-group-item bg-transparent text-white border-0">
                            پیاده‌سازی سیستم جانمایی کاروان‌ها در اسکان‌ها و مدیریت کامل اسکان
                        </li>
                        <li class="list-group-item bg-transparent text-white border-0">
                            طراحی و اجرای سیستم Authorize برای سطوح دسترسی (کاروان، مدیر اسکان، ادمین سایت)
                        </li>
                        <li class="list-group-item bg-transparent text-white border-0">
                            توسعه پنل مدیریت پیامک و یکپارچه‌سازی با سایر ماژول‌ها
                        </li>
                    </ul>
                    <div class="d-flex flex-column flex-md-row  align-tems-center gap-3 my-3 text-tec">
                        <small class="card-tec rounded-5 py-2 px-3">
                            Blazor Server (.NET 8)
                        </small>
                        <small class="card-tec rounded-5 py-2 px-3">
                            SQL Server
                        </small>
                        <small class="card-tec rounded-5 py-2 px-3">
                            Bootstrap
                        </small>
                        <small class="card-tec rounded-5 py-2 px-3">
                            Dapper
                        </small>
                    </div>
                </li>
                <li class="list-group-item bg-transparent text-white mt-3">
                    <div class="d-flex flex-column flex-md-row align-items-center gap-3">
                        <img src="../static/images/toos.jpg" alt="logo toos" width="100"
                            class="img-thumbnail bg-transparent rounded-circle border-0">
                        <h4>سامانه راگیری الکترونیک موسسه آموزش عالی توس</h4>
                    </div>
                    <ul class="list-group list-group-flush text-justify mt-3 px-0 px-md-5">
                        <li class="list-group-item bg-transparent text-white border-0">
                            طراحی و توسعه Back-End همراه با پیاده‌سازی معماری پروژه بر اساس Clean Architecture
                        </li>
                        <li class="list-group-item bg-transparent text-white border-0">
                            ایجاد و مدیریت سطوح دسترسی و احراز هویت با الگو از معماری مایکروسافت
                        </li>
                        <li class="list-group-item bg-transparent text-white border-0">
                            توسعه و بهینه‌سازی دیتابیس و سرویس‌ها با استفاده از Entity Framework.
                        </li>
                        <li class="list-group-item bg-transparent text-white border-0">
                            پیاده‌سازی فرآیند DevOps و انتشار (Publish) پروژه
                        </li>
                    </ul>
                    <div class="d-flex flex-column flex-md-row  align-tems-center gap-3 my-3 text-tec">
                        <small class="card-tec rounded-5 py-2 px-3">
                            Blazor Server (.NET 9)
                        </small>
                        <small class="card-tec rounded-5 py-2 px-3">
                            Clean Architecture
                        </small>
                        <small class="card-tec rounded-5 py-2 px-3">
                            Authentication & Authorization
                        </small>
                        <small class="card-tec rounded-5 py-2 px-3">
                            Entity Framework
                        </small>
                        <small class="card-tec rounded-5 py-2 px-3">
                            DevOps
                        </small>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-4 col-12">
        <ul class="list-group list-group-flush pe-0 pe-md-5">
            <li class="list-group-item bg-transparent text-white d-none d-md-block">
                <div class="border-bottom border-2 pb-2">
                    <h4>مشخصات فردی</h4>
                </div>
                <ul class="list-group list-group-flush px-0">
                    <li class="list-group-item bg-transparent text-white mt-3 border-0">
                        تاریخ تولد: 1382/03/21
                    </li>
                    <li class="list-group-item bg-transparent text-white border-0">
                        وضعیت تاهل: مجرد
                    </li>
                    <li class="list-group-item bg-transparent text-white border-0">
                        وضعیت سربازی: معافیت تحصیلی
                    </li>
                </ul>
            </li>
            <li class="list-group-item bg-transparent text-white mt-3">
                <div class="border-bottom border-2 pb-2">
                    <h4>زبان های برنامه نویسی</h4>
                </div>
                <div class="d-flex align-items-center gap-2 my-3">
                    <small class="rounded-2 p-1 card-tec">HTML</small>
                    <small class="rounded-2 p-1 card-tec">CSS</small>
                    <small class="rounded-2 p-1 card-tec">Javascript</small>
                    <small class="rounded-2 p-1 card-tec">C#</small>
                    <small class="rounded-2 p-1 card-tec">Python</small>
                    <small class="rounded-2 p-1 card-tec">SQL</small>
                </div>
            </li>
            <li class="list-group-item bg-transparent text-white mt-3">
                <div class="border-bottom border-2 pb-2">
                    <h4>زبان های محاوره</h4>
                </div>
                <div class="d-flex flex-column align-items-center gap-2 my-3 w-100">
                    <div class="d-flex align-items-center justify-content-between w-100">
                        <div>فارسی</div>
                        <div class="circle-persian">
                            <span>100%</span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between w-100">
                        <div>انگلیسی</div>
                        <div class="circle-english">
                            <span>60%</span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item bg-transparent text-white mt-3">
                <div class="border-bottom border-2 pb-2">
                    <h4>تکنولوژی و ابزار ها</h4>
                </div>
                <div class="d-flex flex-wrap align-items-center gap-2 my-3">
                    <small class="rounded-2 p-1 card-tec">Syncfusion</small>
                    <small class="rounded-2 p-1 card-tec">Git/Github</small>
                    <small class="rounded-2 p-1 card-tec">Tailwind CSS</small>
                    <small class="rounded-2 p-1 card-tec">Bootstrap</small>
                    <small class="rounded-2 p-1 card-tec">REST Api</small>
                    <small class="rounded-2 p-1 card-tec">Figma</small>
                    <small class="rounded-2 p-1 card-tec">VSCode</small>
                    <small class="rounded-2 p-1 card-tec">Visual Studio</small>
                    <small class="rounded-2 p-1 card-tec">Blazor server/Webassembly</small>
                    <small class="rounded-2 p-1 card-tec">Entity framework</small>
                    <small class="rounded-2 p-1 card-tec">Dapper</small>
                    <small class="rounded-2 p-1 card-tec">ASP.Net core</small>
                    <small class="rounded-2 p-1 card-tec">Docker</small>
                </div>
            </li>
            <li class="list-group-item bg-transparent text-white mt-3">
                <div class="border-bottom border-2 pb-2">
                    <h4>مهارت های نرم</h4>
                </div>
                <div class="d-flex flex-column gap-2 my-3">
                    <small class="p-1">توانایی حل مسئله و تحلیل منطقی</small>
                    <small class="p-1">مدیریت زمان و انجام کار به موقع</small>
                    <small class="p-1">خودآموزی سریع و یادگیری مداوم</small>
                    <small class="p-1">کار تیمی و همکاری مؤثر</small>
                    <small class="p-1">ارتباط مؤثر</small>
                    <small class="p-1">سازگاری با شرایط جدید و تغییرات</small>
                    <small class="p-1">مسئولیت‌پذیری و تعهد کاری</small>
                    <small class="p-1">تفکر خلاق و ارائه راه‌حل‌های نوآورانه</small>
                    <small class="p-1">مدیریت استرس و تمرکز در شرایط فشار</small>
                    <small class="p-1">توجه به جزئیات</small>
                </div>
            </li>
        </ul>
    </div>
</div>
{% endblock %}