{% extends 'layout.html' %}

{% block content %}
<div class="card border-0 border-bottom shadow-lg row bg-transparent text-white">
    <div class="card-body mt-5 text-center">
        <h1 class="display-2 fw-bold">
            سید سینا حسینی واعظ
        </h1>
        <h3 class="mt-4 text-light">
            <span class="fw-bold">برنامه نویس فول استک مید لول وب</span> با 2 سال سابقه کاری حرفه ای
        </h3>
        <div class="row justify-content-center align-items-center g-3 mt-5">
            <div class="col-md col-12 border-start">
                <div class="d-flex justify-content-center align-items-center gap-3 rounded-5 card-contact py-3">
                    <i class="bi bi-telephone-fill"></i>
                    <a class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-0-hover"
                        href="tel:09150030137">09150030137</a>
                </div>
            </div>
            <div class="col-md col-12 border-start">
                <div class="d-flex justify-content-center align-items-center gap-3 rounded-5 card-contact py-3">
                    <i class="bi bi-envelope-fill"></i>
                    <a class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-0-hover"
                        href="https://sshosseinivaez@gmail.com">sshosseinivaez@gmail.com</a>
                </div>
            </div>
            <div class="col-md col-12 border-start">
                <div class="d-flex justify-content-center align-items-center gap-3 rounded-5 card-contact py-3">
                    <i class="bi bi-github"></i>
                    <a class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-0-hover"
                        href="https://github.com/sinahosseini">/sinahosseini</a>
                </div>
            </div>
            <div class="col-md col-12 border-start">
                <div
                    class="d-flex justify-content-center align-items-center gap-3 rounded-5 card-contact py-3 text-nowrap">
                    <i class="bi bi-linkedin"></i>
                    <a class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-0-hover"
                        href="https://www.linkedin.com/in/sina-hosseini-vaez">/sina-hosseini-vaez</a>
                </div>
            </div>
            <div class="col-md col-12">
                <div
                    class="d-flex justify-content-center align-items-center gap-3 rounded-5 card-contact py-3 text-nowrap">
                    <i class="bi bi-download"></i>
                    <a class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-0-hover"
                        href="https://s34.picofile.com/d/8487231800/c6dd1c46-311f-4548-81c2-08d6e6bc1b07/%D8%B1%D8%B2%D9%88%D9%85%D9%87_%D8%B3%DB%8C%D8%AF_%D8%B3%DB%8C%D9%86%D8%A7_%D8%AD%D8%B3%DB%8C%D9%86%DB%8C_%D9%88%D8%A7%D8%B9%D8%B8.pdf">دانلود
                        رزومه</a>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row mt-5 g-3">
    <div class="col-8">
        <div class="border-bottom pb-2">
            <h3 class="fw-bold pb-3 border-bottom border-2">
                درباره من
            </h3>
            <p class="lh-lg">
                از سال ۱۴۰۰ که پا بدنیای علاقه‌ام یعنی برنامه نویسی گزاشتم با شرکت در دوره های مختلف و انجام
                پروژه های شخصی کوچک و بزرگ به کسب تجربه‌ و تمرکز بر یادگیری حداکثری پرداختم.
            </p>
            <p class="lh-lg">
                Full-Stack Developer با 2 سال تجربه حرفه ای و تمرکز بر توسعه واقعی
                پروژه ها. از یادگیری پایه ای HTML/CSS شروع کردم، سپس با Python در حوزه
                هوش مصنوعی و backend مهارت کسب کردم، و حالا با تسلط بر ASP.NET core ، C#,
                SQL ،Blazor و فریمورک های فرانت، پروژه های پیچیده ای را از ایده تا
                اجرا پیش برده ام. به عنوان یک توسعه دهنده ، mid-level با مهارت بالای
                خودآموزی و تحقیق، همیشه به دنبال راه حل های نوآورانه و کارآمد هستم و
                توانسته ام چالش های فنی را با سرعت و دقت حل کنم.
            </p>
        </div>

        <div class="mt-4 border-bottom pb-2">
            <h3 class="fw-bold pb-3 border-bottom border-2">
                سوابق تحصیلی
            </h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-transparent text-white border-0 mt-3">
                    <h5 class="fw-bold">کارشناسی مهندسی کامپیوتر - نرم افزار</h5>
                    <p class="mb-0">موسسه آمورش عالی توس</p>
                    <p class="mb-0">1400 - 1404</p>
                </li>
                <li class="list-group-item bg-transparent text-white border-0 mt-3">
                    <h5 class="fw-bold">کارشناسی ارشد مهندسی کامپیوتر - نرم افزار</h5>
                    <p class="mb-0">موسسه آمورش عالی توس</p>
                    <p class="mb-0">1404 - اکنون</p>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-4"></div>
</div>
{% endblock %}